{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Images de débogage</h2>
    <div class="row">
        {% for file in files %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ file.url }}" class="card-img-top" alt="{{ file.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ file.name }}</h5>
                        <p class="card-text">Taille : {{ file.size }} octets</p>
                        <a href="{{ file.url }}" target="_blank" class="btn btn-primary">Voir l'image</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
